
@{
    ViewBag.Title = "Default";
}

<h2>Error</h2>

@if (TempData["Message"] != null)
{
    String mensaje = "<div class=\"alert  alert-danger\" role=\"alert\">" + TempData["Message"] + " </div>";
    @Html.Raw(mensaje);
}
<br>
<div>
    @Html.ActionLink("Ir a la página principal", "Index","Home")
</div>


