
@{
    ViewBag.Title = "NotFound";
}


<div style=" padding:20px; color:red">

    <h3>

        Error Page:

    </h3>

    <h4>

        Sorry, The Page, You are Looking for File is not found Or Controller Name / Controller Action Method Name Not There.

    </h4>
    <br>
    <br>

    <h6>@Html.ActionLink("Ir a la página principal", "Index", "Home")</h6> @*link name , action method name , controller name*@

    <br />

    <br />

</div>


