
@{
    ViewBag.Title = "Auto Calificacion";
}


<style>
    .contenedor {
        
        -webkit-box-shadow: -1px 11px 28px -7px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 11px 28px -7px rgba(0,0,0,0.75);
        box-shadow: -1px 11px 28px -7px rgba(0,0,0,0.75);
        
        border-radius: 15px;
        
    }

    
</style>




<h2>Auto Calificación</h2>


<center class="contenedor">

    <section class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <h4>
                        <b>Puntos a Evaluar</b>
                    </h4>
                </div>
                <div class="col-md-3">
                    <h4>
                        <b>Puntos</b>
                    </h4>
                </div>
                <div class="col-md-3">
                    <h4>
                        <b>Autoevaluación</b>
                    </h4>
                </div>
            </div>







            <div class="row">
                <div class="col-md-6">
                    <h4>
                        Registros Ejemplo
                    </h4>
                </div>
                <div class="col-md-3">
                    <h4>
                        10 pts
                    </h4>
                </div>
                <div class="col-md-3">
                    <h4>
                        10 pts
                    </h4>
                </div>
            </div>





            <div class="row">
                <div class="col-md-6">
                    <h4>
                        Diseño de la Arquitectura del Software, estándares log4net,
                        mensaje toastr, control de errores.
                    </h4>
                </div>
                <div class="col-md-3">
                    <h4>
                        10 pts
                    </h4>
                </div>
                <div class="col-md-3">
                    <h4>
                        10 pts
                    </h4>
                </div>
            </div>




            <div class="row">
                <div class="col-md-6">
                    <h4>
                        Seguridad
                    </h4>
                </div>
                <div class="col-md-3">
                    <h4>
                        5 pts
                    </h4>
                </div>
                <div class="col-md-3">
                    <h4>
                        5 pts
                    </h4>
                </div>
            </div>




            <div class="row">
                <div class="col-md-6">
                    <h4>
                        Mantenimientos
                        a-	Vendedor    5 pts
                        b-	Activos    10 pts
                        c-	Tipo Activo 5 pts
                        d-	Marca       5 pts
                        e-	Asegurador  5 pts

                    </h4>
                </div>
                <div class="col-md-3">
                    <h4>
                        30 pts
                    </h4>
                </div>
                <div class="col-md-3">
                    <h4>
                        30 pts
                    </h4>
                </div>
            </div>



            <div class="row">
                <div class="col-md-6">
                    <h4>
                        Procesos

                        Calculo Depreciación
                        (actualiza costo del activo y crea histórico de depreciación por activo)

                    </h4>
                </div>
                <div class="col-md-3">
                    <h4>
                        20 pts
                    </h4>
                </div>
                <div class="col-md-3">
                    <h4>
                        20 pts
                    </h4>
                </div>
            </div>






            <div class="row">
                <div class="col-md-6">
                    <h4>
                        Reportes
                        a-	Listado activos y
                        crea pdf            (5 pts)
                        b-	Consulta de activo  (5 pts)
                        c-	Vencimiento
                        Garantías           (2 pts)
                        d-	Gráfico activos
                        por tipo           ( 5 pts)
                        e-	Listado cierres    ( 3 pts)
                        f-	Reporte Analítico, creación y consumo de API   ( 5 pts)

                    </h4>

                </div>
                <div class="col-md-3">
                    <h4>
                        20 pts
                    </h4>
                </div>
                <div class="col-md-3">
                    <h4>
                        18 (Beneficio de la duda)
                    </h4>
                </div>
            </div>






            <div class="row">
                <div class="col-md-6">
                    <h4>
                        Defensa del Proyecto
                    </h4>
                </div>
                <div class="col-md-3">
                    <h4>
                        5 pts
                    </h4>
                </div>
                <div class="col-md-3">
                    <h4>
                        5 pts
                    </h4>
                </div>
            </div>



            <div class="row">
                <div class="col-md-6">
                    <h4>
                        Total
                    </h4>
                </div>
                <div class="col-md-3">
                    <h4>
                        100 pts
                    </h4>
                </div>
                <div class="col-md-3">
                    <h4>
                        98 pts
                    </h4>
                </div>
            </div>


        </div>
    </section>

</center>

