body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*body {
    font-family: 'Raleway', sans-serif;
    color: #496174;
    background: rgb(252,37,219);
    background: linear-gradient(90deg, rgba(252,37,219,1) 0%, rgba(0,255,226,1) 100%);
    font-size: 14px;
    line-height: 24px;
}*/

.fondo {
    background: url(../../Images/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
    
}